body{
	align-items: center;
	background-color: lavender;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	justify-content: center;
}

nav{
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
	padding: 10px 90px;
	box-sizing: border-box;
	background: rgba(0,0,0,0.6);
	border-bottom: 3px solid rgb(0, 0, 0);
}

nav .logo{
	padding: 22px 20px;
	height: 80px;
	float: left;
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	color: rgb(255, 81, 0);
	cursor: pointer;
}

nav ul{
	list-style: none;
	float: right;
	margin: 0;
	padding: 0;
	display: flex;
}

nav ul li{
	display: inline-block;
	margin: 0px 8px;
	list-style: none;
}

nav ul li a{
	position: relative;
	text-decoration: none;
	color: #d1d1d1;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 0.5px;
	padding: 0 20px;
	line-height: 80px;
	text-transform: uppercase;
}

nav ul li a:after{
	content: "";
	position: absolute;
	background-color: rgb(255, 81, 0);
	height: 3px;
	width: 0;
	left: 0;
	bottom: -8px;
	transition: 0.4s ease-out;
}

nav ul li a:hover{
	color: #fff;
}

nav ul li a:hover:after{
	width: 100%;
}

nav ul li a.selected{
	color: rgb(255, 81, 0);
}

.bg_image{
	top: 100px;
	width: 100%;
	height: 70vh;
	background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(https://images.unsplash.com/photo-1661050629674-e5094ae354e2?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
	background-size: cover;
	background-position: center center;
}

.bg_image h2{
	padding-top: 12%;
	margin-top: 0%;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 60px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg_image p{
	padding-top: 2%;
	text-align: center;
	color: rgb(255, 255, 255);
	font-size: 35px;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

#topBtn{
	position: fixed;
	width: 50px;
	height: 50px;
	background: rgb(255, 81, 0);
	bottom: 20px;
	right: 10px;
	text-decoration: none;
	text-align: center;
	line-height: 50px;
	color: rgb(0, 0, 0);
	font-size: 30px;
	border-radius: 50%;
	cursor: pointer;
	display: none;
}


.about1{
	margin: 30px;
	padding: 5px;
}

.about1 h1{
	text-align: center;
	color: black;
	font-weight: bold;
	font-size: 35px;
	margin-top: -2%;
	text-transform: uppercase;
}

.about1 p{
	text-align: center;
	padding: 3px;
	color: rgb(0, 0, 0);
	text-transform: capitalize;
	font-size: 20px;
	line-height: 35px;
}

.row{
	margin: 0 auto;
	text-align: center;
  	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	transition: all .2s linear;
   	box-sizing: border-box;
   	margin:0; 
	padding:0;
   	outline: none; 
	border:none;
   	text-decoration: none;
   	text-transform: capitalize;
	max-width: 1700px;
	margin: 0 auto;
	display: grid;
  	gap:20px;
	padding-bottom: 10px;
}

.about-item{
	margin-bottom: 5px;
	margin-top: 0px;
	background-color: rgb(228, 228, 228);
	padding: 10px, 30px;
	box-shadow: 0 0 9px rgba(0,0,0,0.6);
	border-radius: 15px;
	height: 104%;
}

.about-item i{
	margin-top: 30px;
	font-size: 45px;
}

.about-item h3{
	font-size: 25px;
	margin-bottom: 10px;
}

.about-item p{
	margin-top: 20px;
	font-size: 18px;
	line-height: 30px;
	text-align: center;
	padding: 0 10px;
}

.about-item hr{
	width: 46px;
	height: 3px;
	background-color: #5fbff9;
	margin: 0 auto;
	border: none;
}

.about-item:hover{
	background-color: #5fbff9;
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover p{
	color: rgb(255, 255, 255);
}

.about-item:hover hr{
	background-color: #fff;
}

.about-item:hover i{
	transform: translateY(-20px);
}

.about-item:hover i,
.about-item:hover h3,
.about-item:hover hr{
	transition: all 400ms ease-in-out;
}

.cont4_box{
	font-family: 'Montserrat', sans-serif;
   	margin:0; padding:0;
   	box-sizing: border-box;
   	outline: none; 
	border:none;
   	text-decoration: none;
   	text-transform: capitalize;
   	transition: all .2s linear;
	max-width: 1500px;
	margin: 0 auto;
	text-align: center;
	padding:25px 20px;
	display: grid;
  	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  	gap:20px;
	width: 1400px;
}

.cont4_box .box{
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	border: 2px solid #334;
}

.cont4_box .box .image{
	margin-bottom: 20px;
	overflow: hidden;
	height: 250px;
	border-radius: 5px;
}

.cont4_box .box .image img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.cont4_box .box:hover .image img{
	transform: scale(1.1);
}

.cont4_box .box .content h3{
	font-size: 20px;
	color: #334;
}

.cont4_box .box .content p{
	font-size: 15px;
	color: rgb(75, 73, 73);
	line-height: 2;
	padding: 15px 0;
	border-top: 2px solid #334;
	justify-content: space-between;
}

footer{
	background: #111;
	height: auto;
	width: 100vw;
	font-family: 'Saira', sans-serif;
	padding-top: 40px;
	color: #fff;
	align-items: center;
}

.footer_content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	margin-top: -3%;
}

.footer_content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 3rem;
	margin-bottom: 0%;
}

.footer_content h3 a{
	cursor: pointer;
	text-decoration: none;
	color: #fff;
}

.footer_content h3 a:hover{
	color: rgb(255, 81, 0);
}

.footer_content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 15px;
	text-transform: capitalize;
}

.social_links{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;
	margin-left: -2%;
}

.social_links li{
	margin: 0 10px;
}

.social_links a{
	text-decoration: none;
	color: #fff;
}

.social_links a i{
	font-size: 1.2rem;
	transition: color .4s ease;
}

.social_links a:hover i{
	color: aqua;
}

.footer_bar{
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;
}

.footer_bar p{
	font-size: 15px;
	word-spacing: 2px;
	text-transform: capitalize;
}

.footer_bar span{
	text-transform: uppercase;
	opacity: 0.4;
	font-weight: 200;
}